<header class="header">
  <div class="logo">🎯 EventManager</div>
  <nav class="nav">
    <a routerLink="/dachboard-org" routerLinkActive="active" class="nav-link">Dashboard</a>
    <a routerLink="/create-event" routerLinkActive="active" class="nav-link">
      <i class="fas fa-calendar-alt nav-icon"></i> Mes événements
    </a>
    <a routerLink="/reservation-local" routerLinkActive="active" class="nav-link">
      <i class="fas  nav-icon"></i> local
    </a>
    <a routerLink="/participants" routerLinkActive="active" class="nav-link">Participants</a>
    <a routerLink="/logout" class="nav-link">Déconnexion</a>
  </nav>
</header>
