<header class="header">
  <div class="logo">🎯 </div>
  <nav class="nav">
  <a routerLink="/participant-dashboard" routerLinkActive="active" class="nav-link">Dashboard</a>
    <a routerLink="/event-list" routerLinkActive="active" class="nav-link">
      <i class="fas fa-calendar-alt nav-icon"></i> list Events
      
    </a>
<a routerLink="/mes-reservations" routerLinkActive="active" class="nav-link">
      <i class="fas  nav-icon"></i> mes reservations
    </a>
    <a routerLink="/logout" class="nav-link">Déconnexion</a>
  </nav>
</header>
