<header class="header">
 <div class="header-brand">
      <a routerLink="/" class="logo">
        <img src="../../assets/images/images.jpg" alt="Logo" class="logo-img">
      </a>
    </div>
  <nav class="nav">
  <a routerLink="/participant-dashboard" routerLinkActive="active" class="nav-link">Dashboard</a>
    <a routerLink="/event-list" routerLinkActive="active" class="nav-link">
      <i class="fas fa-calendar-alt nav-icon"></i> list Events

    </a>
<a routerLink="/mes-reservations" routerLinkActive="active" class="nav-link">
      <i class="fas  nav-icon"></i> mes reservations
    </a>
    <a routerLink="/profile" routerLinkActive="active" class="nav-link">
      <i class="fas fa-user nav-icon"></i> Profil
    </a>
    <a routerLink="/logout" class="nav-link">Déconnexion</a>
  </nav>
</header>
